body {
margin: 0;
padding: 0;

font-family: PT Sans, Arial, sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: 700;
color: #333333;
text-transform: uppercase;

background-color: #f1f1f1;
background-size: 1280 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-haeder {
margin-bottom: 22px;
min-height: 56px;
}

.main-navigation {

  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
  width: 1200px;
  min-height: 56px;
}

.main-haeder-logo {
  order: 2;

  width: 138px;
  height: 70px;
  display: block;
}

.main-navigation-wrapper .container {
 display: flex;
 flex-wrap: wrap;

 width: 100%;
 padding-bottom: 22px;
 background-color: #ffffff;
 margin: 0;
 min-width: 56px;
}

.container {
 width: 1200px;
 margin: 0;
 padding: 0 0;
}


.site-navigation {
  width: 478px;

  display: flex;
  justify-content: space-between;

 list-style: none;
 margin: 0;
 padding: 0;

}

.site-navigation-1 {
  width: 478px;

  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;


}

.site-navigation a,
.site-navigation-1 a {
  display: block;
  padding: 15px 70px;
  margin: 0;

 color: #000000;
 }
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation-1 a:hover,
.site-navigation-1 a:focus {
  color: #81b3d2;
}
.site-navigation a:active,
.site-navigation-1 a:active {
  color: #bcbcbc;
}
.site-navigation .active {
  color: #766357;
}

.advantage {
  background-image: url(../img/index.arisona-photo.jpg);
  background-repeat: no-repeat;
  width: 1200px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 610px;
}

.five-reasons {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;

  min-height: 256;
}

.conditions-list {
list-style: none;
display: flex;
padding-top: 46px;
padding-bottom: 64px;

}

.reasons-item,
.conditions-item {
  text-align: center;
  width: 400px;
}



.item-1,
.item-2 {
  background-color: #81b3d2;
}

.item-1 {
 background-image: url(../img/index-background-01.jpg);
 background-position-y: top;
 background-position-x: 400px;
 background-repeat: no-repeat;
 width: 100%;

}
.item-1-wrapper
{
  width:400px;
  padding-top: 46px;
  padding-bottom: 64px;
}
.reasons-item h3,
.conditions-item h3 {
  font-size: 18px;
  line-height: 21px;
}

.item-2 {
  background-image: url(../img/reason-background-1-1.jpg);
  background-position-y: top;
  background-position-x: left;
  padding-left: 780px;
  background-repeat: no-repeat;
list-style: none;
padding-top: 46px;
padding-bottom: 64px;
width: 100%
}

.item-3,
.item-4,
.item-5 {
width: 400px;
padding-top: 48px;
padding-bottom: 64px;
}


.index-columns-1 {
  display: flex;
 color: #333333;

 background-color: #ffffff;
 background-position: 0 0;
 background-repeat: repeat;
}

.interest {
  font-size: 23px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.travel-date {
  font-size: 12px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.hostels-button {
 font: inherit;

 width: 568;
 min-height: 86;
 text-align: center;
 display: inline-block;
 line-height: 86px;
 color: #ffffff;
 vertical-align: middle;
 text-transform: uppercase;
 background-color: #766357;
 border: none;

 width: 568;
}

.hostels-button:hover {
  background-color: #604e43;
}
.hostels-button:active {
color: #857871;
background-color: #503e33;
}

.main-footer {
  margin-top: 36px;
  padding: 36px 0;
  min-height: 120px;
  color: #000000;

  background-color: #ffffff;
  background-image: url(../img/footer-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;

  margin: 0;
  width: 1200px;
}

.citation {
  margin: 0;
  width: 400px;
  text-align: center;
  padding-top: 47px;
}

.footer-social {
 width: 400px;
  text-align: center;
  padding-top: 36px;
}

.footer-social ul {
 list-style: none;
}

.footer-social a {
  color: #000000;
}

.footer-social ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 150px;
 list-style: none;
margin: 0 auto;
padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #82b3d3
}

.social-button:hover,
.social-button:focus {
 background-color: #669ec1;
}

.social-button:active {
background-color: #5596be;
}

.social-button:active path {
  fill: #87b6d2;
}

.footer-website {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  text-align: right;
}

.logo-html-academy {
background-image: url(../img/logo-html-academy-1.png);
  width: 115px;
  height: 41px;
  background-repeat: no-repeat;
}

.logo-html-academy:hover,
.logo-html-academy:focus {
  background-image: url(../img/logo-html-academy-2.png);
    width: 115px;
    height: 41px;
    background-repeat: no-repeat;
}

.logo-html-academy:active {
  background-image: url(../img/logo-html-academy-3.png);
    width: 115px;
    height: 41px;
    background-repeat: no-repeat;
}

.modal {
  color: #000000;

  background-color: #ffffff;
  background-image: url(../img/index-calender-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.search-hotels input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #e5e5e5;
}

.search-hotels input:hover {
  background-color: #ebebeb;
}

.search-hotels input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.for-font {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}


.parameter-selection {
  padding-top: 14px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 19px;

 background-color: #ffffff;
 background-image: url(../img/catalog-filter-background.jpg);
 background-position: 0 0;
 background-repeat: repeat;
}

.parameter-selection .filter {
display: flex;
flex-wrap: wrap;
}

.without-bord {
border: none;

}

.infrastructure {
  width: 240px;
  margin: 0;
}

.type-housing {
  width: 288px;
  padding-right: 195px;
  margin: 0;
}

.cost {
  width: 328px;
  margin: 0;
}

.menu-hostels {
  background-color: #ffffff;
  background-image: url(../img/catalog-hostels-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.type-housing legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.without-dots {
  list-style: none;
}

.parameter-selection-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
}

.parameter-selection-button:hover {
  color: 000000;
  background-color: #ffffff;
  border: none;
}

.detailed-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.detailed-button:hover {
  background-color: #669ec0;
}

.detailed-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.book-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.book-button:hover {
  background-color: #604e43;
}

.book-button:active {
  color: #857871;
  background-color: #503e33;
}

.hostels-sorting {
  font-size: 12px;
  line-height: 18px;
  padding-top: 34px;
  margin: 0;
}

.found{
  display: flex;
  min-height: 86px;
  margin: 0;
}

.found h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-right: 45px;
  margin: 0;
  padding-top: 30px;
  padding-left: 73px;
}

.main-menu {
  display: flex;
  width: 288px;
  justify-content: space-between;
  padding-top: 34px;
  margin: 0;
}

.main-menu a {
  font-size: 12px;
  line-height: 18px;
  color: #d1d1d1;
}

.for-dotted a {
border-bottom: 1px dotted #d1d1d1;
}

.main-menu a:hover,
.main-menu a:focus {
  color: #c4dcea;
  border-bottom: 1px dotted #c4dcea;
}

.main-menu a:active {
color: #000000;
border-bottom: none;
}


.main-menu {
  list-style: none;

}

.active a {
  color: #81b3d2;
}

.switch {
  list-style: none;

  display: flex;
  margin: 0;
  width: 240px;
  padding-right: 73px;
  padding-top: 38px;

}



.container-hostel .container{
display: flex;
padding: 30px 73px;

margin: 0;
}

.amara{
  width: 165px;

}

.amara-book {
  width: 363px;
  margin-right: 417px;

}

.amara-stars {
width: 111px;
margin: 0;
text-align: right;
}

.hostel-typ-item .container{
display: flex;
padding: 30px 73px;
}

.desert{
  width: 165px;
}

.desert-book {
  width: 363px;
  margin-right: 417px;
}

.desert-stars {
width: 111px;
margin: 0;
text-align: right;

}

.apartment-typ-item .container{
display: flex;
padding: 30px 73px;
}

.villas{
  width: 165px;
}

.villas-book {
  width: 363px;
  margin-right: 417px;
}

.villas-stars {
width: 111px;
margin: 0;
text-align: right;

}



.modal {
width: 568px;
height: 395px;

background: rgba(234, 255, 45, 0.2);
box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.search-hotels {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 29px;
padding: 55px 55px;
}

.for-font {
  width: 346px;
  height: 38px;

  box-sizing: border-box;
   width: 346px;
   padding-top: 6px;
   padding-left: 13px;
   padding-right: 200px;
   padding-bottom: 5px;

   font: inherit;

}


.for-age {
  width: 38px;
  height: 38px;

  box-sizing: border-box;
   width: 38px;
   padding-top: 6px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px;

   font: inherit;
}


.button-enter {
  font: inherit;

  width: 458;
  min-height: 58;
  text-align: center;
  display: inline-block;
  line-height: 58px;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: baseline;

  background-color: #81b3d2;
  border: none;

  margin-top: 54px;

 }

 .button-enter:hover,
 .button-enter:focus {
   background-color: #669ec0;
 }
 .button-enter:active {
 color: #88b6d1;
 background-color: #5496bd;
 }
