body {
margin: 0 auto;
padding: 0 40;

font-family: PT Sans, Arial, sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: 700;
color: #333333;
text-transform: uppercase;
width: 1200px;
background-color: #ffffff;
background-size: 1280 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-haeder {

}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin-bottom: -22px;
}

.main-haeder-logo {
  order: 2;

  margin: 0;

}

.main-navigation-wrapper .container {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  background-color: #ffffff;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0;
  padding: 0 0;
  box-shadow:
  -40px 0 0 0 #f1f1f1,
   40px 0 0 0 #f1f1f1;

}
.container>p {
  margin: 0;
}
.container h3 {
  margin: 0;
}

.site-navigation {

display: flex;

list-style: none;

margin: 0;

padding-left: 72px;
}
.site-navigation-1 a {
  text-align: right;
}
.nav-info {
  width: 239px;
  margin: 0;
}

.nav-fotovideo{
  width: 220px;
  margin: 0;
}

.site-navigation-1 {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.nav-map {
  width: 156px;
  margin: 0;
  padding-left: 20px;
}

.nav-hostel {
  width: 246px;
  margin: 0;
}

.site-navigation a,
.site-navigation-1 a {
  display: block;
  padding-top: 15px;
  margin: 0;
  color: #000000;
 }
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation-1 a:hover,
.site-navigation-1 a:focus {
  color: #81b3d2;
}
.site-navigation a:active,
.site-navigation-1 a:active {
  color: #bcbcbc;
}
.site-navigation .active {
  color: #766357;
}

.advantage {
  background-image: url(../img/index.arisona-photo.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 570px;
  padding-bottom: 10px;
  background-position-y: -57px;
}

.five-reasons {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  font-weight: normal;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 53px;
}

.conditions-list {list-style: none;display: flex;padding-top: 58px;padding-bottom: 64px;padding-left: 0;}

.reasons-item,
.conditions-item {
  text-align: center;
  width: 400px;
}

.item-1,
.item-2 {
  background-color: #81b3d2;

}

.item-1 {
 background-image: url(../img/index-background-01.jpg);
 background-position-y: -40px;
 background-position-x: 401px;
 background-repeat: no-repeat;
 background-size: 77%;
 width: 100%;
 min-height: 256px;
}

.item-1-wrapper{
  width:400px;
  padding-top: 46px;
  padding-bottom: 50px;
  color: white;
}
.conditions-item h3 {
  padding-top:22px;
}
.reasons-item h3,
.conditions-item h3 {
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 13px;
}

.item-2 {
  background-image: url(../img/reason-background-1-1.jpg);
  background-position-y: top;
  background-position-x: left;
  padding-left: 799px;
  background-repeat: no-repeat;
  list-style: none;
  padding-top: 46px;
  padding-bottom: 49px;
  width: 100%;
  color: white;
}

.item-3,
.item-4,
.item-5 {
  width: 400px;
  padding-top: 48px;
  padding-bottom: 64px;
}

.index-columns-1 {
  display: flex;
  color: #333333;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
}

.interest {
  font-size: 30px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  padding-top: 10px;
}

.travel-date {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  font-weight: normal;
  padding-bottom: 31px;
}

.map {
  position:relative;
}
.hostels-button {
 font: inherit;
 min-height: 86px;
 width: 568px;
 text-align: center;
 display: inline-block;
 line-height: 86px;
 color: #ffffff;
 vertical-align: middle;
 text-transform: uppercase;
 background-color: #766357;
 border: none;
 margin-left: 316px;
 font-size: 21px;
}

.hostels-button:hover {
  background-color: #604e43;
}

.hostels-button:active {
  color: #857871;
  background-color: #503e33;
}

.main-footer {
  color: #000000;
  margin-top: -126px;
  background-color:rgba(255, 255, 255, 0.9);
  z-index: 100;
  position: relative;
  background-image: url(../img/footer-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
  /* justify-content: space-between; */
  margin: 0;
  width: 1200px;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.3);
}

.citation {
  margin: 0;
  width: 400px;
  text-align: center;
  padding-top: 47px;
  font-size: 21px;
}

.footer-social {
  width: 400px;
  text-align: center;
  padding-top: 36px;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  color: #000000;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #82b3d3
}

.social-button:hover,
.social-button:focus {
 background-color: #669ec1;
}

.social-button:active {
background-color: #5596be;
}

.social-button:active path {
  fill: #87b6d2;
}

.footer-website {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 102px;
}

.letter {
  padding-right: 6px;
}

.logo-html-academy {
    background-color: #ffffff;
    fill: #000000;
    width: 117px;
    height: 50px;
}

.logo-html-academy:hover,
.logo-html-academy:focus {
  background-color: #ffffff;
  fill: #81b3d2;
}

.logo-html-academy:active {
  background-color: #ffffff;
  fill: #bdbbbc;
}


.parameter-selection {
  padding-top: 26px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 19px;

 background-color: #ffffff;
 background-image: url(../img/catalog-filter-background.jpg);
 background-position: 0 0;
 background-repeat: repeat;
}

.parameter-selection .filter {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}


.without-bord {
border: none;}


.infrastructure .without-bord{
display: flex;
flex-wrap: wrap;
}

.infrastructure {
  width: 145px;
  margin: 0;
  padding-right: 95px;
}

.infrastructure-1 {
  margin: 0;
}

.without-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: normal;
}

.filter-pool {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  padding-bottom: 23px;
}

.filter-pool:hover,
.filter-pool:focus {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
}

.filter-pool input[type="checkbox"]:disabled {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
}

.filter-pool input[type="checkbox"] + .checkbox-pool {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 24px;
  border: none;
}

.filter-parking {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  padding-bottom: 23px;
}

.filter-parking:hover,
.filter-parking:focus {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  border: none;
}

.filter-parking input[type="checkbox"]:disabled {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
}

.filter-parking input[type="checkbox"] + .checkbox-parking {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 24px;
  border: none;
}

.filter-wi-fi {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.filter-wi-fi:hover,
.filter-wi-fi:focus {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  border: none;
}

.filter-wi-fi input[type="checkbox"]:disabled {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
}

.filter-wi-fi input[type="checkbox"] + .checkbox-wi-fi {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 24px;
  border: none;
}


.type-housing {
  width: 160px;
  padding-right: 323px;
  margin: 0;
}

.filter-hotel {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  padding-bottom: 23px;
}

.filter-hotel:hover,
.filter-hotel:focus {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;

  border: none;
}

.filter-hotel input[type="checkbox"]:disabled {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
}

.filter-hotel input[type="checkbox"] + .checkbox-hotel {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 24px;
  border: none;
}

.filter-motel {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  padding-bottom: 23px;
}

.filter-motel:hover,
.filter-motel:focus {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
}

.filter-motel input[type="checkbox"]:disabled {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
}

.filter-motel input[type="checkbox"] + .checkbox-motel {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 24px;
  border: none;
}

.filter-apartment {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.filter-apartment:hover,
.filter-apartment:focus {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
}

.filter-apartment input[type="checkbox"]:disabled {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
}

.filter-apartment input[type="checkbox"] + .checkbox-apartment {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 24px;
  border: none;
}


.cost {
  width: 328px;
  margin: 0;
}

.slider-wrapper {
  display: inline-block;
  width: 317px;
  padding: 0;
  padding-top: 19px;
}

.slider-wrapper input {
  width: 317px;
  height: 2px;
  margin: 0;
  transform-origin: 75px 75px;

}







.infrastructure legend,
.type-housing legend,
.cost legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.parameter-selection-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
}

.parameter-selection-button:hover {
  color: 000000;
  background-color: #ffffff;
  border: none;
}



.detailed-button {
  font: inherit;
  display: inline-block;
  min-width: 110px;
  min-height: 27px;
  text-align: center;
  color: #ffffff;
  vertical-align: baseline;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.detailed-button:hover {
  background-color: #669ec0;
}

.detailed-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.book-button {
  font: inherit;

  min-width: 142px;
  min-height: 27px;

  text-align: center;
  display: inline-block;
  color: #ffffff;
  vertical-align: baseline;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.book-button:hover {
  background-color: #604e43;
}

.book-button:active {
  color: #857871;
  background-color: #503e33;
}

.menu-hostels {
  margin: 0;
}

.found{
  display: flex;
  min-height: 86px;
  margin: 0;
}

.found h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  margin: 0;
  padding-top: 30px;
  padding-left: 73px;
  width: 164px;
}

.hostels-sorting {
  font-size: 12px;
  line-height: 18px;
  padding-top: 38px;
  padding-right: 38px;
  margin: 0;
  width: 82px;
  text-align: center;
}

.main-menu {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding-top: 38px;
  padding-right: 484px;
  margin: 0;
  list-style: none;

}

.main-menu a {
  font-size: 12px;
  line-height: 18px;
  color: #d1d1d1;
}

.for-dotted a {
border-bottom: 1px dotted #d1d1d1;
}

.main-menu a:hover,
.main-menu a:focus {
  color: #c4dcea;
  border-bottom: 1px dotted #c4dcea;
}

.main-menu a:active {
color: #000000;
border-bottom: none;
}

.active a {
  color: #81b3d2;
}

.switch {
  list-style: none;

  display: flex;
  margin: 0;
  width: 40px;
  padding-right: 73px;
  padding-top: 38px;

}

.switch li {
  text-align: right;
}

.switch-up:hover path,
.switch-up:focus path,
.switch-down:hover path,
.switch-down:focus path {
  fill: #231f20;
}

.switch-up:active path,
.switch-down:active path {
  fill: #81b3d2;
}

.active-1 path {
  fill: #81b3d2;
}

.switch-up {
  padding-right: 12px;
}

.separator {
  color: #bdbbbc;

  size: 0;
}

.container-hostel .container{
display: flex;
padding-top: 30px;
padding-left: 73px;

margin: 0;
}

.amara{
  width: 165px;
}

.amara-book {
  width: 363px;
  padding-right: 417px;
  margin: 0;

}

.reference-colored {
  color: #000000;
}

.reference-colored:hover,
.reference-colored:focus {
  color: #8bb9d5;
}

.reference-colored:active {
  color: #cecece;
}

.amara-book-hostel {
  padding-right: 40px;
}

.amara-stars {
  width: 111px;
  margin: 0;
  text-align: right;
}

.hostel-typ-item .container{
  display: flex;
  padding-top: 30px;
  padding-left: 73px;
  margin: 0;
}

.desert{
  width: 165px;
  margin: 0;
}

.desert-book {
  width: 363px;
  padding-right: 417px;
  margin: 0;
}

.desert-book-motel {
  padding-right: 60px;
}

.desert-stars {
  width: 111px;
  margin: 0;
  text-align: right;
}

.stars-indent {
  padding-bottom: 45px;
  margin: 0;
}

.rank {
  font-weight: normal;
  color: #666666;
}

.slim {
  font-weight: normal;
}

.apartment-typ-item .container{
  display: flex;
  padding-top: 30px;
  padding-left: 73px;
  margin: 0;
}

.villas{
  width: 165px;
  margin: 0;
}

.villas-book {
  width: 363px;
  padding-right: 417px;
  margin: 0;
}


.villas-book-apartment {
  padding-right: 18px;
}

.villas-stars {
width: 111px;
margin: 0;
text-align: right;

}


.modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  height: 395px;
  color: #000000;

  background-color: #ffffff;
  background-image: url(../img/index-calender-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}
.search-hotels label {
  width: 160px;
}
.search-hotels input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  flex-basis:100%;
  flex-shrink:1;
}

.search-hotels input:hover {
  background-color: #ebebeb;
}

.search-hotels p {
  display:flex;
  width: 100%;
}

.search-hotels input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.search-hotels {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 46px;
  padding-top: 39px;
}


.for-font {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin: 0;

  height: 38px;
  width: 346px;
  box-sizing: border-box;

   padding-top: 6px;
   padding-left: 10px;
   padding-bottom: 5px;

   font: inherit;
   font-size: 14px;
   line-height: 26px;

   background-image: url(../img/calendar.svg);
   background-position: 317px center;
   background-repeat: no-repeat;
}


.for-age {
  width: 38px;
  height: 38px;

  box-sizing: border-box;
   width: 38px;
   padding-top: 6px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px;

   margin-right: 40px;

   font: inherit;
   font-size: 14px;
   line-height: 26px;
}

.for-age-1 {
  width: 38px;
  height: 38px;

  box-sizing: border-box;
   width: 38px;
   padding-top: 6px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px;

   margin-right: 26px;

   font: inherit;
   font-size: 14px;
   line-height: 26px;

}

.button-enter {
  font: inherit;
  min-width: 458px;
  min-height: 58px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: baseline;
  background-color: #81b3d2;
  border: none;
  margin-top: 43px;
  font-size: 21px;
  margin-left: 10px;
 }

 .button-enter:hover,
 .button-enter:focus {
   background-color: #669ec0;
 }
 .button-enter:active {
 color: #88b6d1;
 background-color: #5496bd;
 }
